#container {
  text-align: center;
}

ion-card {
  width: 170px;
  cursor: pointer;
}

ion-card img {
  width: 60%;
  margin-top: 20px;
}

ion-card ion-card-header ion-card-title {
  font-size: 16px;
  font-weight: bold;
}

ion-card ion-card-header ion-card-subtitle {
  font-size: 10px;
}