<ion-header>
  <ion-toolbar>
    <ion-title> لیست رقابت&hairsp;ها </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="auto" *ngFor="let competition of data$ | async">
          <ion-card class="ion-activatable" (click)="onCompetitionClick(competition.id, competition.title)">
            <ion-ripple-effect/>
            <img
              [alt]="competition.name"
              [src]="competition.logo"
            />
            <ion-card-header>
              <ion-card-title>{{ competition.title }}</ion-card-title>
              <ion-card-subtitle>{{ competition.name }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
