// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #1c1c1d;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #1c1c1d;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/fonts/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/fonts/Shabnam-Light-FD.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/fonts/Shabnam-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*, body {
  font-family: "Shabnam", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}