<table mat-table [dataSource]="standingTable.getValue()" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="playedMatches">
      <th mat-header-cell *matHeaderCellDef> بازی </th>
      <td mat-cell *matCellDef="let element"> {{element.playedMatches}} </td>
    </ng-container>
  
    <ng-container matColumnDef="wonMatches">
      <th mat-header-cell *matHeaderCellDef> برد </th>
      <td mat-cell *matCellDef="let element"> {{element.wonMatches}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lostMatches">
      <th mat-header-cell *matHeaderCellDef> باخت </th>
      <td mat-cell *matCellDef="let element"> {{element.lostMatches}} </td>
    </ng-container>

    <ng-container matColumnDef="goalDifference">
      <th mat-header-cell *matHeaderCellDef> تفاضل </th>
      <td mat-cell *matCellDef="let element"> {{element.goalDifference}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> امتیاز </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>