<ion-header>
  <ion-toolbar>
    <ion-title> جدول {{ header }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <ion-grid>
        <ion-row class="ion-row-header">
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col class="ion-col-header">بازی</ion-col>
            <ion-col class="ion-col-header">برد</ion-col>
            <ion-col class="ion-col-header">مساوی</ion-col>
            <ion-col class="ion-col-header">باخت</ion-col>
            <ion-col class="ion-col-header">تفاضل</ion-col>
            <ion-col class="ion-col-header">+|-</ion-col>
            <ion-col class="ion-col-header">امتیاز</ion-col>
        </ion-row>
        @if ((data$ | async)?.length == 0) {
        <ion-row class="ion-row-skeleton" *ngFor="let number of skeletonRows">
            <ion-skeleton-text [animated]="true"/>
        </ion-row>
        }
        <ion-row class="ion-activatable ion-row-body"
          *ngFor="let standing of data$ | async"
          (click)="onTeamClick(standing.team.englishName)">
            <ion-ripple-effect/>
            <ion-col class="ion-col-team-rank">{{ standing.rank }}</ion-col>
            <ion-col class="ion-col-team-title">
                <div class="ion-col-team-title-container">
                    <img [src]="standing.team.thumbnail"/>
                    <span>{{ standing.team.title }}</span>
                </div>
            </ion-col>
            <ion-col>{{ standing.playedMatches }}</ion-col>
            <ion-col>{{ standing.wonMatches }}</ion-col>
            <ion-col>{{ standing.playedMatches - standing.wonMatches - standing.lostMatches }}</ion-col>
            <ion-col>{{ standing.lostMatches }}</ion-col>
            <ion-col>{{ standing.goalDifference }}</ion-col>
            <ion-col>{{ standing.scoredGoals }} | {{ standing.concededGoals }}</ion-col>
            <ion-col class="ion-col-team-score">{{ standing.score }}</ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
