<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> برنامه بازی&hairsp;ها </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row
        style="
          margin: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px 0;
          border-radius: 6px;
        "
      >
        <ion-col>
          <ion-text> بازی&hairsp;های بعدی </ion-text>
        </ion-col>
      </ion-row>
      @if ((nextMatches$ | async)?.length == 0) {
      <ion-row *ngFor="let match of skeletonRows">
        <ion-col>
          <ion-skeleton-text
            [animated]="true"
            style="height: 110px; border-radius: 6px"
          />
        </ion-col>
      </ion-row>
      }
      <ion-row *ngFor="let match of nextMatches$ | async">
        <ion-col>
          <div
            style="
              display: flex;
              align-items: center;
              padding: 30px;
              background-color: rgba(0, 0, 0, 0.2);
              border-radius: 6px;
            "
          >
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 2 1;
              "
            >
              <span style="color: #ddd; font-size: 14px">
                {{ toPersianDate(match.startedAt) }}
              </span>
              <div style="display: flex; align-items: center">
                <span style="margin-left: 10px"
                  >{{ match.homeTeam.title }}</span
                >
                <img
                  width="30"
                  height="30"
                  [alt]="match.homeTeam.englishName"
                  [src]="match.homeTeam.thumbnail"
                />
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                flex: 1 1;
                margin: 0 10px;
              "
            >
              <span>{{ toShortTime(match.startedAt) }}</span>
            </div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 2 1;
              "
            >
              <div style="display: flex; align-items: center">
                <img
                  width="30"
                  height="30"
                  [alt]="match.awayTeam.englishName"
                  [src]="match.awayTeam.thumbnail"
                />
                <span style="margin-right: 10px"
                  >{{ match.awayTeam.title }}</span
                >
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row
        style="
          margin: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px 0;
          border-radius: 6px;
        "
      >
        <ion-col>
          <ion-text> بازی&hairsp;های قبلی </ion-text>
        </ion-col>
      </ion-row>
      @if ((lastMatches | async)?.length == 0) {
      <ion-row *ngFor="let match of skeletonRows">
        <ion-col>
          <ion-skeleton-text
            [animated]="true"
            style="height: 110px; border-radius: 6px"
          />
        </ion-col>
      </ion-row>
      }
      <ion-row *ngFor="let match of lastMatches$ | async">
        <ion-col>
          <div
            style="
              display: flex;
              align-items: center;
              padding: 30px;
              background-color: rgba(0, 0, 0, 0.2);
              border-radius: 6px;
            "
          >
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 2 1;
              "
            >
              <span style="color: #ddd; font-size: 14px">
                {{ toPersianDate(match.startedAt) }}
              </span>
              <div style="display: flex; align-items: center">
                <span style="margin-left: 10px"
                  >{{ match.homeTeam.title }}</span
                >
                <img
                  width="30"
                  height="30"
                  [alt]="match.homeTeam.englishName"
                  [src]="match.homeTeam.thumbnail"
                />
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                flex: 1 1;
                margin: 0 10px;
              "
            >
              <span>{{ match.homeScore }} - {{ match.awayScore }}</span>
              <span style="color: #ddd; font-size: 12px"
                >{{ match.statusDetails.title }}</span
              >
            </div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 2 1;
              "
            >
              <div style="display: flex; align-items: center">
                <img
                  width="30"
                  height="30"
                  [alt]="match.awayTeam.englishName"
                  [src]="match.awayTeam.thumbnail"
                />
                <span style="margin-right: 10px"
                  >{{ match.awayTeam.title }}</span
                >
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
